<div class="container mx-auto py-8">
  <div id="profile" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <div class="text-center mb-4">
          <img src="assets/img/profile.jpg" alt="Profile Image" class="w-48 h-48 rounded-full mx-auto mb-4">
      </div>
      <div class="mb-4">
          <strong class="block mb-2 text-center">Nombre:</strong>
          <p class="text-center">Pedro Fernando Chial Vasquez</p>
      </div>
      <div class="mb-4">
          <strong class="block mb-2 text-center">Habilidades Técnicas:</strong>
          <ul class="list-disc pl-5 list-inside text-center">
              <li>Resolución de problemas</li>
              <li>Control de versiones Git</li>
              <li>Estructuras y algoritmos</li>
          </ul>
      </div>
      <div class="mb-4">
          <strong class="block mb-2 text-center">Contacto:</strong>
          <p class="text-center">pchialv&#64;miumg.edu.gt</p>
      </div>
      <div class="mb-4">
          <strong class="block mb-2 text-center">Tecnologías:</strong>
          <ul class="list-disc pl-5 list-inside text-center">
              <li>Manejo intermedio del lenguaje Java</li>
              <li>Manejo intermedio del framework Spring Boot</li>
              <li>Manejo intermedio de PostgreSQL</li>
              <li>Manejo intermedio de SQL Server</li>
              <li>Manejo básico de Angular versión 17</li>
              <li>Manejo intermedio de Git y GitHub</li>
          </ul>
      </div>
      <div class="mb-4">
          <strong class="block mb-2 text-center">Proyectos:</strong>
          <ul class="list-disc pl-5 list-inside text-center">
              <li>Desarrollo de un programa ERP</li>
              <li>Desarrollo de una aplicación web hospital</li>
          </ul>
      </div>
      <div class="mb-4">
          <strong class="block mb-2 text-center">Repositorios de Github:</strong>
          <ul class="list-inside text-center">
              <li><a href="https://github.com/UMGVNPROGRA/Hospital-Bendicion" target="_blank" class="text-blue-600">Angular 17</a></li>
              <li><a href="https://github.com/josecarrera26/HospitalGalvez" target="_blank" class="text-blue-600">Spring Boot 3</a></li>
          </ul>
      </div>
      <div class="mb-4">
          <strong class="block mb-2 text-center">Habilidades Blandas:</strong>
          <p class="text-center">Trabajo en equipo, comunicación asertiva, resolución de problemas y pensamiento crítico</p>
      </div>
      <div class="mb-4">
          <strong class="block mb-2 text-center">Objetivos:</strong>
          <p class="text-center">Llegar a ser un desarrollador de software</p>
      </div>
      <div class="mb-4">
          <strong class="block mb-2 text-center">Aficiones:</strong>
          <p class="text-center">Videojuegos, fútbol, aprendizaje de nuevas tecnologías</p>
      </div>
      <div class="mb-4">
          <strong class="block mb-2 text-center">Sobre mí:</strong>
          <p class="text-center">Soy una persona que tiene objetivos claros y que se esfuerza para un día lograrlos, tengo un profundo interés por el mundo del Desarrollo de software y que siempre está aprendiendo nuevas cosas de este campo</p>
      </div>
  </div>
</div>
